@-ms-viewport{
  width: device-width;
} /* Ensuring the website looks as expected on Windows 8 */

div 
        {
            border-bottom: 1px solid;
            border-top: 1px solid;
            border-left: 1px solid;
            border-right: 1px solid;
        }
        
        .row{
            background-color: gray;
        }
        
        #signupLogin{
            text-align: right;
        }
        
        #RoomName{
            text-align: center;
            font-size: 25px;
        }
        
       td {
            border: 3px solid black;
            text-align: center;
        }
        
        th{
            border: 3px solid black;
            text-align: right;
        }